footer{
    padding: 1.2rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text);
    color: var(--grey);
    text-transform: capitalize;
    text-align: center;
}
.footer-link,
.footer-link:link,
.footer-link:active{
    text-decoration: none;
    display: inline-block;
    padding: .25rem 1rem;
    transition: all .3s ease;
    color: var(--grey);
}
.footer-link:focus,
.footer-link:hover{
    color: var(--expense);
}